{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <title>Not Blockbuster</title>
  </head>
  <body>
    <nav id="navbar">
      <a href="{% url 'shows:list' %}"><img src="{% static 'logo.png' %}" id="logoImage" class ="navbarElement"/></a>
      <a href="{% url 'shows:list' %}" class ="navbarElement">Browse Movies</a>
      {% if user.is_authenticated %}
      Logged in as {{user}}
      <form
        action="{% url 'accounts:logout' %}"
        class="logout-link"
        method="post"
        style="display:inline"
      >
        {% csrf_token %}
        <button type="submit" class="nav-links">Logout</button>
      </form>
      <a href="{% url 'shows:yourReservations' %}" class ="navbarElement">Your Reservations</a>
      {% else %}
      <a href="{% url 'accounts:signup' %}" class ="navbarElement">Sign up</a>
      <a href="{% url 'accounts:login' %}" class ="navbarElement">Log In</a>
      {% endif %}
      
    </nav>

    {% block content %} {% endblock %}
  </body>
</html>
