{% extends 'base_layout.html' %} {% block content %}
<h1>Movie List</h1>
<div class="availableShowList">
  <a href="{% url 'shows:addNewMovie' %}">Schedule a new Movie</a>
  <a href="{% url 'shows:editMovie' %}">Edit an existing Movie</a>
  {% for newShow in shows %}
  <div class="showBlock">
    <img src="{{newShow.posterImage.url}}" class="posterImage" />
    <h2>{{newShow.title}}</h2>
    <a href="{% url 'shows:checkMovieDetails' slug=newShow.slug %}">Check this movie.</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
