{% extends 'base_layout.html' %} {% block content %}
<h1>Movie List</h1>

<div id="movieChangingButtons">
  {% if user.is_authenticated and user.userRole == manager and user.managerValidated == True %}
  <a href="{% url 'shows:addNewMovie' %}">Schedule a new Movie</a>
  <a href="{% url 'shows:editMovie' %}">Edit an existing Movie</a>
  {% endif %}
</div>

<div class="availableShowList">
  {% for newShow in shows %}
  <div class="showBlock">
    
    <img src="{{newShow.posterImage.url}}" class="posterImage" />
    <div style="margin-left: 10px;">
    <h2>{{newShow.title}}</h2>
    <p>{{newShow.description}}</p>
    <a href="{% url 'shows:checkMovieDetails' slug=newShow.slug %}"
      >Check this movie.</a
    >
    <div>{{newShow.startTime}}-{{newShow.endTime}} on {{newShow.date}}</div>
  </div>
  </div>
  
  {% endfor %}
</div>
{% endblock %}
