{% extends 'base_layout.html' %} {% block content %} {% load static %}

<div class="movieDetails">
  <div class="movie">
    <img src="{{movie.posterImage.url}}" style="width: 200px;height: 200px"/>
    <h2>{{movie.title}}</h2>


    <h2>Seat Availability: {{movie.remainingSeats}}/30</h2>

    <div id="seatsDiagram">
      {% for i in totalSeats %} 
        {% if forloop.counter <= movie.remainingSeats %}
          <img src="{% static 'unreservedSeat.png' %}" class="seatIndicator"></img>
        {% else %}
          <img src="{% static 'reservedSeat.png' %}" class="seatIndicator"></img>
        {% endif %} 
      {% endfor %}
    </div>
  </div>
</div>

{%endblock%}



#'x'|rjust:20 