{% extends 'base_layout.html' %} {% block content %} {% load static %}

<div class="movieDetails">
  <div class="movie">
    <img src="{{movie.posterImage.url}}" style="width: 200px;height: 200px"/>
    <h2>{{movie.title}}</h2>

    <div id="seatsDiagram">
      {% for i in totalSeats %}
        {% for reservation in reservations %}
        
          {% if forloop.counter == reservation.SeatNumber %}
          <div> hello <div>

          {% endif %}



        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{%endblock%}