.showBlock {
  height: 200px;
  width: 600px;
  background-color: orange;
  display: flex
}

.posterImage {
  height: 200px;
  width: 200px;
}

#logoImage {
  height: 200px;
  width: 200px;
}

#navbar {
  height: 200px;
  background-color: blue;
}